body
{
  font-family: sans-serif;
}

.container {
    width: 500px;
    margin-left: auto;
    margin-right: auto;
}

.logo img
{
  width: 110px;
  height: 37px;
  margin-left: 180px;
  margin-right: 200px;
  margin-top: 8px;
}

.title
{
  width: 490px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.title1
{
  color: #5e5e5e;
  font-size: 37px;
  text-align: center;

}

.title2
{
  color: #5e5e5e;
  font-size: 18px;
  text-align: center;

}

.form-signin input {
    width: 330px;
    margin-bottom: 10px;
    border-radius: 2px;
}

.account-wall {
background-color: #f7f7f7;
padding: 20px 25px 30px;
margin-left: 35px;
width: 350px;
border-radius: 1px;
box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.4);

}

.profile img {
  width: 105px;
  height: 105px;
  margin-left: 120px;
  margin-right: 50px;
  margin-top: 15px;
  margin-bottom: 20px;
}

.login {
  display: block;
  height: 30px;
  padding: 10px 10px;
  font-size: 16px;
  border: 1px;
}

.button {
    display: block;
    height: 40px;
    text-align: center;
    color: #fff;
    background-color: #498bf4;
    border-color: #2e6da4;
    padding: 2px 5px;
    font-size: 17px;
    border: 2px;
}

.help {
  display: block;
  margin-top: 20px;
  text-align: right;
  color: #337ab7;
  text-decoration: none;
}

.new-account {

    display: block;
    margin-top: 20px;
    text-align: center;
    color: #337ab7;
    text-decoration: none;
}

.end {
  margin-top: 30px;
  color: #5e5e5e;
  text-align: center;
  font-size: 15px;
}
